@import url('./common.css');

.area-nav-local{
    position: fixed;
    z-index: 1;
    left: 48px; top: 212px;
}
.area-nav-local .nav-loacl a{
    display: block;
    position: relative;
    margin-bottom: 23px;
    font-size: 15px;
    color: #ddd;
    font-weight: 500;
}
.area-nav-local .nav-loacl a.on{color: #121212; font-weight: 600;}
.area-nav-local .nav-loacl a.on::after{
    content: '';
    display: block;
    position: absolute;
    left: 0; bottom: -1px;
    width: 100%; height: 1px;
    background: #212121;
}
.section-inner .text{
    font-size: 64px;
    font-weight: 700;
    line-height: 1.25;
}
.section-inner .text .main-txt{
    position: relative;
    overflow: hidden;
    display: block;
    height: 82px;
}
.section-inner .text .main-txt >span{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 82px;
    transform: translateY(100px);
    color: #121212;
    opacity: 0;
}
.text-visual{
    position: absolute;
    top: 200px; left: 360px;
    margin: 0;
}
.text-visual dt{
    margin: 0 0 12px 0;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: 32px;
}